---
import BaseLayout from '@layouts/BaseLayout.astro'
import Greeting from '@components/Greeting.vue'

const pageTitle = 'Home Page'
---

<BaseLayout pageTitle={pageTitle}>
  <h2>My awesome blog subtitle</h2>
  <Greeting
    client:only
    messages={['Hi', 'Hej', 'Hallo', 'Hola', 'Habari', 'Hey there', 'Yo']}
  />
</BaseLayout>
